<!-- About the website -->
{% extends "base.html" %}

{% block title %}About ReClaim: UniConnect{% endblock %}

{% block content %}
    <h1>About ReClaim: UniConnect</h1>
    <p>
        ReClaim: UniConnect is a platform dedicated to helping students reclaim and connect with their academic journeys. Our mission is to provide resources, support, and a community for students navigating the challenges of university life.
    </p>
    <h2>Our Features</h2>
    <ul>
        <li><strong>Lost and Found:</strong> A system to help students report and recover lost items on campus.</li>
    </ul>
    <h2>How ? </h2>
    <p>
        Students can create accounts, report lost items, and browse found items. Our platform uses a user-friendly interface to make the process seamless and efficient.
    <h2>Contact Us</h2>
    <p>
        If you have any questions or would like to get involved, please reach out to us at <a href="mailto:support@reclaimuniconnect.com">support@reclaimuniconnect.com</a>.